@model UniversityCMSProject.Models.UserPage

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    @if (!string.IsNullOrEmpty(Model.CssContent))
    {
        <style>@Model.CssContent</style>
    }
</head>
<body>
<div class="mt-4 border-top pt-3">
    <a asp-controller="Report" asp-action="Create" asp-route-pageId="@Model.Id" class="btn btn-outline-danger btn-sm">
        Report This Page
    </a>
</div>
@Html.Raw(Model.HtmlContent)

@if (!string.IsNullOrEmpty(Model.JsContent))
{
    <script>
        @Html.Raw(Model.JsContent)
        </script>
}
@{
    if (ViewBag.Comments is List<Comment> comments)
    {
        @await Html.PartialAsync("~/Views/Comment/_CommentsPartial.cshtml", comments)
    }
}
</body>
</html>